{% extends 'base.html' %}

{% block title %}Account{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="./">Personal Finance Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./report">Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./account">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./investment">Investment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./budget">Budget</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./goal">Goal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./expenses">Expenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./income">Income</a>
                    </li>
                    <form action="{{ url_for('logout') }}" method="POST">
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mb-3">
        <h2>Do you want to create a new account?</h2>
        <a href="{{ url_for('register') }}" class="btn btn-success">Create a new Account</a>
    </div>
    <div class="mt-5">
        <h2 class="mb-4">This is your Account's details page, {{ session['user_name'] }}!</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        
        <div class="mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>UserID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Date Of Birth</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in user_data %}
                        <tr>
                            <td>{{ user['UserID'] }}</td>
                            <td>{{ user['Name'] }}</td>
                            <td>{{ user['Email'] }}</td>
                            <td>{{ user['Password'] }}</td>
                            <td>{{ user['Date Of Birth'] }}</td>
                            <td>
                                <form action="{{ url_for('delete_user', user_id=user['UserID']) }}" method="POST">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3>Login Log</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>LogID</th>
                        <th>LoginTime</th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for log in login_log_data %}
                        <tr>
                            <td>{{ log['LogID'] }}</td>
                            <td>{{ log['LoginTime'] }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
       

        <h2>Update User</h2>
        <form action="{{ url_for('update_user', user_id=session['user_id']) }}" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ user_data[0][1] }}" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user_data[0][2] }}" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="text" class="form-control" id="password" name="password" value="{{ user_data[0][3] }}" required>
            </div>
            <div class="mb-3">
                <label for="date_of_birth" class="form-label">Date Of Birth</label>
                <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" value="{{ user_data[0][4] }}" required>
            </div>
        
            <button type="submit" class="btn btn-primary">Update Information</button>
        </form>
        

       
    </div>
{% endblock %}
