{% extends 'base.html' %}

{% block title %}
  Income
{% endblock %}

{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="./">Personal Finance Tracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./report">Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./account">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./investment">Investment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./budget">Budget</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./goal">Goal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./expenses">Expenses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./income">Income</a>
          </li>
          <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit" class="btn btn-danger">Logout</button>
          </form>
        </ul>
      </div>
    </div>
  </nav>

  <div class="mt-5">
    <h2 class="mb-4">This is your Income page, {{ session['user_name'] }}!</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-info">
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}

    <div class="mb-3">
      <h4>Add Income</h4>
      <form action="{{ url_for('create_income') }}" method="POST">
        <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input type="text" class="form-control" id="amount" name="amount" required />
        </div>

        <div class="mb-3">
          <label for="date_occurred" class="form-label">Date Occurred</label>
          <input type="date" class="form-control" id="date_occurred" name="date_occurred" required />
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>

        <button type="submit" class="btn btn-success">Create Income</button>
      </form>
    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Income ID</th>
            <th>User ID</th>
            <th>Amount</th>
            <th>Date Occurred</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for income in data %}
            {% if income['UserID'] == session['user_id'] %}
              <tr>
                <td>{{ income['IncomeID'] }}</td>
                <td>{{ income['UserID'] }}</td>
                <td>{{ income['Amount'] }}</td>
                <td>{{ income['DateOccurred'] }}</td>
                <td>{{ income['Description'] }}</td>
                <td>
                  <form action="{{ url_for('delete_income', income_id = income['IncomeID']) }}" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% for income in data %}
      {% if income['UserID'] == session['user_id'] %}
        <!-- Form for updating income -->
        <h4>Update Income</h4>
        <form action="{{ url_for('update_income', income_id = income['IncomeID']) }}" method="POST">
          <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="text" class="form-control" id="amount" name="amount" value="{{ income['Amount'] }}" required />
          </div>

          <div class="mb-3">
            <label for="date_occurred" class="form-label">Date Occurred</label>
            <input type="date" class="form-control" id="date_occurred" name="date_occurred" value="{{ income['DateOccurred'] }}" required />
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" required>{{ income['Description'] }}</textarea>
          </div>

          <button type="submit" class="btn btn-primary">Update Income</button>
        </form>
      {% endif %}
    {% endfor %}

    
  </div>
{% endblock %}
